.app-latest {
    margin-top: 120px;
    padding: 0 105px;
    @media(max-width: 575px) {
        padding: 0 20px;
    }
    &__title {
        margin-bottom: 65px;
        @media(max-width: 575px) {
            margin-bottom: 20px;
            font-size: 30px;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 296px);
        grid-template-rows: 475px;
        column-gap: 25px;
        row-gap: 25px;
        justify-content: space-between;
        list-style-type: none;
        @media(max-width: 1499px) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 296px));
            justify-content: center;
        }
    }
    &__more {
        display: block;
        margin: 100px auto 0 auto;
    }
}