.app-recommended {
    margin-top: 120px;
    padding: 0 105px;
    
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 65px;
    }
    &__title {
        
    }
   
    
    &__carousel {
        overflow: hidden;
    }
    &__carousel-wrapper {
        width: 100%;
    }
    &__list {
       display: flex;
       gap: 15px; 
       transition: .3s all ease-in-out;
    }
    &__more {
        display: block;
        margin: 60px auto 0 auto;
    }
}